<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.mapper.GradeMapper">
    <!-- 分页查询学院数据-->
    <select id="findPage" resultType="com.server.entity.Grade">
        select  * from  grade
        <!--        <if test="queryString !=null and queryString.length>0">-->
        <!--            &#45;&#45; 搜索功能-->
        <!--            where (college_name like  concat('%', #{queryString},'%') or college_nmber like  concat('%', #{queryString},'%'))-->
        <!--              and college_isDelete = 0 and college_status =1-->
        <!--        </if>-->
        <choose>
            <when test="queryString !=null and queryString.length>0">
                -- 搜索功能
                where (grade_name like  concat('%', #{queryString},'%') or grade_id like  concat('%', #{queryString},'%'))
                and grade_isDelete = 0
            </when>
            <otherwise>
                where  grade_isDelete = 0
            </otherwise>
        </choose>
    </select>

    <insert id="insert" parameterType="com.server.entity.Grade">
        insert into grade(grade_name) values (#{gradeName})
    </insert>

    <update id="update" parameterType="com.server.entity.Grade">
        update grade
        <set>
            <if test="gradeName !=null">
                grade_name=#{gradeName},
            </if>
            <if test="gradeStatus !=null">
                grade_status = #{gradeStatus},
            </if>
        </set>
        where grade_id = #{gradeId}
    </update>

    <update id="delete" parameterType="com.server.entity.Grade">
        update grade
        <set>
            <if test="gradeIsDelete !=null">
                grade_isDelete = #{gradeIsDelete},
            </if>

        </set>
        where grade_id = #{gradeId}
    </update>

    <update id="updateShow" parameterType="com.server.entity.Grade">
        update grade
        <set>
            <if test="gradeStatus !=null">
                grade_status = #{gradeStatus},
            </if>
            <if test="gradeName !=null">
                grade_name = #{gradeName},
            </if>
        </set>
        where grade_id = #{gradeId}
    </update>

    <select id="findGradeInfo" resultType="com.server.entity.Grade">
        select * from grade where grade_isDelete = 0 and grade_status =1 order by grade_name desc
    </select>
</mapper>